<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ context.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=('css/dogstyle.css')) }}">
    
</head>
<body>
    <h1>{{ context.sarlavha }}</h1>
    <div class="flex-container">
        {% for item in context.catlist %}
            <div class="flex-item">
                <img src="{{item}}" alt="photo cat">
                <h1 class="rang"> Randomm {{ context.cat }}</h1>
            </div>
        {% endfor %}
    </div>

</body>
</html>
