<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ context.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
            <form action="/data/dog" method="get">
                <button type="submit" name="name" value="random_dog" class="button button1">DOG</button>
            </form>
            <form action="/func/cat" method="get">
                <button type="submit" name="name" value="random_cat" class="button button2">CAT</button>
            </form>
            
    </div>
    
</body>
</html>
