<!DOCTYPE html>
<html>
<head>
    <title>{{ context.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=('css/dogstyle.css')) }}">
    
</head>
<body>
    <h1>Hello {{ context.name }}</h1>
    <div class="flex-container">
            {% for item in context.imglist %}
                
                    <div class="flex-item">
                        <img src={{item}} alt="photo"><br>
                        <h1 class="rang">Randomuser {{ context.gender }}</h1> 
                    </div>
                    
               
            {% endfor %}
    </div>
    

</body>
</html>